name: Docker deploy Staging

on:
  workflow_run:
    workflows: ["Docker build and push Staging"]
    types:
    - completed

env: 
  AWS_REGION: ca-central-1
  ECS_CLUSTER: superset
  REGISTRY: ${{ vars.STAGING_AWS_ACCOUNT_ID }}.dkr.ecr.ca-central-1.amazonaws.com/superset
  GITHUB_SHA: ${{ github.event.workflow_run.head_sha }}

permissions:
  id-token: write

jobs:
  docker-deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - superset
          - celery-worker
          - celery-beat
    steps:
    - name: Audit DNS requests
      uses: cds-snc/dns-proxy-action@b63a989befc20506036aab86a7d66c4159272637
      env:
        DNS_PROXY_FORWARDTOSENTINEL: "true"
        DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
        DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

    # TODO: Replace with a locked down IAM role
    - name: configure aws credentials using OIDC
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        role-to-assume: arn:aws:iam::${{ vars.STAGING_AWS_ACCOUNT_ID }}:role/cds-superset-apply 
        role-session-name: DeployContainer
        aws-region: ${{ env.AWS_REGION }}

    - name: Update ECS task image
      id: task-def
      uses: aws-actions/amazon-ecs-render-task-definition@cbed19f1b86bbb18f59cfffde7107b93cc9b75da # v1.8.1
      with:
        task-definition-family: ${{ matrix.service }}
        container-name: ${{ matrix.service }}
        image: ${{ env.REGISTRY }}:sha-${{ env.GITHUB_SHA }}

    - name: Deploy updated ECS task
      uses: aws-actions/amazon-ecs-deploy-task-definition@7b5ba17dae98c8fd463ddf2cef977d3be43322c5 # v2.5.0
      with:
        task-definition: ${{ steps.task-def.outputs.task-definition }}
        service: ${{ matrix.service }}
        cluster: ${{ env.ECS_CLUSTER }}
        wait-for-service-stability: true
        propagate-tags: SERVICE

    - name: Update SSM parameter for deployed image
      run: |
        aws ssm put-parameter \
          --name "/ecs/${{ env.ECS_CLUSTER }}/${{ matrix.service }}/container-image" \
          --value "${{ env.REGISTRY }}:sha-${{ env.GITHUB_SHA }}" \
          --type "String" \
          --overwrite

    - name: Checkout
      if: ${{ matrix.service == 'superset' }}
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false

    - name: Run Superset database upgrade
      if: ${{ matrix.service == 'superset' }}
      run: |
        .github/workflows/scripts/run-superset-upgrade.sh \
          "${{ env.ECS_CLUSTER }}" \
          "${{ secrets.STAGING_SUPERSET_PRIVATE_SUBNET_IDS }}" \
          "${{ secrets.STAGING_SUPERSET_ECS_TASK_SECURITY_GROUP_ID }}"
